pytest
coverage==5.5
black==23.3.0
typing-extensions==4.5.0

# Only for CPython (exclude pypy).
celery-types==0.14.0; implementation_name != 'pypy'
mypy==1.0.0; implementation_name != 'pypy'
types-setuptools==68.2.0.1; implementation_name != 'pypy'
